aiohappyeyeballs

aiohttp

aiosignal

annotated-types

anyio

attrs

babel

beautifulsoup4

blinker

cachetools

certifi

cffi

charset-normalizer

click

courlan

cryptography

dateparser

distro

# easyocr>=1.7.2
# pytesseract>=0.3.13  # replaced by custom Keras model
tensorflow
keras>=3.0.0
et_xmlfile

filelock

Flask

frozenlist

fsspec

google-ai-generativelanguage

google-api-core

google-api-python-client

google-auth

google-auth-httplib2

google-auth-oauthlib

google-genai

google-generativeai

googleapis-common-protos

greenlet

grpcio

grpcio-status

gspread

h11

htmldate

httpcore

httplib2

httpx

idna

ImageIO

itsdangerous

Jinja2

jusText

lazy-loader

lxml

lxml_html_clean

MarkupSafe

mpmath

multidict

networkx

ninja

numpy

oauth2client

oauthlib

opencv-python-headless

openpyxl

packaging

pandas

pdfminer.six

pdfplumber

pdfrw

pillow

playwright

propcache

proto-plus

protobuf

pyasn1

pyasn1_modules

pyclipper

pycparser

pydantic

pydantic_core

pyee

PyMuPDF

pyparsing

PyPDF2

pypdfium2

python-bidi

python-dateutil

pytz

PyYAML

regex

reportlab

requests

requests-oauthlib

rsa

scikit-image

scipy

setuptools

shapely

six

sniffio

soupsieve

sympy

tenacity

tifffile

tld

# torch>=2.11.0
# torchvision>=0.26.0
tqdm

trafilatura

typing-inspection

typing_extensions

tzdata

tzlocal

uritemplate

urllib3

websockets

Werkzeug

yarl

